# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
env/
*.env

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store

# Build & dist
build/
dist/
*.egg-info/

RASA_CLI/

*.parq
obsfields/
obsplan_20*.yaml